

<h2>Create new User</h2>
<form class="" method="post" action="/single_user/new">
    <input type="text" name="[new_user]fname" placeholder="First Name">
    <input type="text" name="[new_user]lname" placeholder="Last Name">
    <input type="text" name="[new_user]password" placeholder="Password">
    <input type="submit" name="" value="Submit">
    
</form>

<h2>Sign in User</h2>
<form class="" method="post" action="/sign-in">
    <input type="text" name="fname" placeholder="First Name">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" name="" value="Submit">
</form>
