<img src="/images/diapers.jpg" id="diapers">

<div class="info_box">
  <h2>Log In</h2>
    <form class="" method="post" action="/sign-in" id="form_field">
      <input type="text" name="fname" placeholder="First Name" required>
      <input type="text" name="password" placeholder="Password" required>
      <input type="submit" name="" value="Submit">
    </form>

  <h2>Create An Account TODAY!</h2>
    <form class="" method="post" action="/single_user/new" id="form_field">
      <input type="text" name="[new_user]fname" placeholder="First Name" required>
      <input type="text" name="[new_user]lname" placeholder="Last Name" required>
      <input type="text" name="[new_user]password" placeholder="Password" required>
      <input type="submit" name="" value="Submit">
    </form>
  </div>
