<% @posts.each do |post| %>
  <container id="post_area">
      <div class="post">
        <h3 id="post_title"><%= post.title %></h1>
        <p id="post_content"><%= post.content %></p>
      </div>
</container>
<% end %>
