<!DOCTYPE html>
<HTML>

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="none.html">
</head>
<body>
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>
</body>

</HTML>
