<!DOCTYPE html>
<HTML>

<head>
    <TITLE></TITLE>
    <meta charset="utf-8">
    <link rel="stylesheet" href="none.html">
</head>


<BODY>

    
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>

    
</BODY>

</HTML>