<div class="single_user">
    <div class="name">
        First Name:
        <%= @user.fname %>
            <br> Last Name:
            <%= @user.lname %>
                <br>
    </div>


    <% if @user.id == @user.id %>


        <div class="info_box">
            <h2>Edit Profile Here</h2>
            <p>Please fill out all fields to update profile info.</p>
            <form method="post" action="/single_user/edit/<%= @user.id %>">
                <input type="text" name="[user]fname" placeholder="first name" required>
                <input type="text" name="[user]lname" placeholder="last name" required>
                <input type="text" name="[user]password" placeholder="password" required>
                <input type="submit" value="Submit Changes">
            </form>

            <% end %>
                <h2>Post Here</h2>
                <form method="post" action="/post/new">
                    <input type="text" name="[new_post]title" placeholder="Title">
                        <br />
                    <textarea row="5" maxlength=150 name="[new_post]content" placeholder="Content">
                    </textarea>
                        <br />
                    <input type="submit">

                </form>
        </div>

        <button id="log_out"><a href="/log_out">Log Out</a></button>
        <button id="delete"><a href="/single_user/delete/<%= @user.id %>">Delete Account</a></button>
</div>