<div class="single_user">
    <div class="name">
    First Name:
      <%= current_user.fname %>
      <br> 
    Last Name:
      <%= current_user.lname %>
      <br>
     </div>
     
     <% if current_user.id == @user.id %>
     
    <div class="info_box">
            <h2>Edit Profile Here</h2>
                 <form method="post" action="/single_user/edit/<%= @user.id %>">
                 <input type="text" name="[user]fname" placeholder="first name">
                 <input type="text" name="[user]lname" placeholder="last name">
                 <input type="text" name="[user]password" placeholder="password">
                  <input type="submit" value="Submit Changes">
                  </form>
      
      <% end %>
            <h2>Post Here</h2>
                <form method="post" action="/post/new">
                <input type= "text" name="[new_post]title" placeholder="Title">
                <textarea maxlength = 150 name="[new_post]content" placeholder="content">
                </textarea>
                <input type="submit">

    </form></div>

        <button id="log_out"><a href="/log_out">Log Out</a></button>
        <button id="delete"><a href="/single_user/delete/<%= @user.id %>">Delete Account</a></button>
</div>